.buttons {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f0f2ef;
    width: 100vw;
}

.myForm > fieldset:nth-child(4) {
    padding-bottom: 55px;
}

.cuteButton input[type="radio"]:checked+label {
    background-color: #ca5d65;
    color:#f0f2ef;
}

.cuteButton {
    margin: 20px 0 20px 0;
    padding: 0;
}

input[type="radio"] {
    opacity: 0.01;
    position: absolute;
    left: -1000px;
    display: none;
}

.cuteButton label {   
    padding: 15px 20px;
    border: 1px solid #ca5d65;
} 

.cuteButton label,
.submit,
.reset {
    font-family: Montserrat;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f0f2ef;
    color: #303030;
    transition: 0.3s;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 40px;
}

.cuteButton label:hover,
a:hover {
    background-color: #ca5d65;
    color: #f0f2ef;
}

.submit,
.reset {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.3px;
    margin-bottom: 0px;
    color: #303030;
    padding-bottom: 5px;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    margin-top: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid transparent;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}   

.reset {
    margin-bottom: 32px;
}

.submit:hover,
.reset:hover {
    border-bottom: 2px solid #303030;
}

.top {
    position: relative;
}

.top > a:nth-child(1) {
    position: absolute;
    bottom: 25px;
    right: 545px;
    font-size: 51px;
    color: transparent;
}

a {
    font-family: Montserrat;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    background: #f0f2ef;
    color: #303030;
    padding: 15px 20px;
    transition: 0.3s;
    font-weight: 300;
    letter-spacing: 1.3px;
    // border: 1px solid transparent;
    border: 1px solid #ca5d65;
}

.result a:hover {
    background: #678e55;
    color: #f0f2ef;
}

.result > h3:nth-child(1) {
    margin-top: 13px;
}




