.buttons {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid $lightFontColor;
    width: 100%;
}

.myForm > fieldset:nth-child(4) {
    padding-bottom: 55px;
}

.cuteButton input[type="radio"]:focus+label,
.cuteButton input[type="radio"]:checked+label {
    background-color: $darkBackgroundColor;
    color: $lightFontColor;
}

.cuteButton {
    margin: 20px 0 20px 0;
    padding: 0;
}

input[type="radio"] {
    opacity: 0.01;
    position: absolute;
    left: -1000px;
}

.cuteButton label {
    letter-spacing: 1px;
    margin: 40px;
}

.cuteButton label,
a {
    font-family: $mediumFont;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $lightFontColor;
    color: $darkFontColor;
    transition: 0.3s;
    font-weight: 400;
    
    padding: 15px 20px;
    border: 1px solid $darkBackgroundColor;
}

a {
    letter-spacing: 1.3px;
}

.cuteButton label:hover,
a:hover,
.cuteButton label:focus,
a:focus {
    background-color: $darkBackgroundColor; 
    color: $lightFontColor;
}

.submit,
.reset {
    font-family: $mediumFont;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.3px;
    color: $darkFontColor;
    background-color: transparent;
    padding: 5px 0 2px 0;
    margin-top: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid transparent;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}   



.submit {
    margin-bottom: 0px;
}

.reset {
    margin-bottom: 32px;
}

.submit:hover,
.reset:hover,
.submit:focus,
.reset:focus {
    border-bottom: 2px solid $darkFontColor;
}



.result a:hover,
.result a:focus {
    background: #678e55;
    color: $lightFontColor;
}

.result > h3:nth-child(1) {
    margin-top: 13px;
}