fieldset,
article, 
aside, 
footer, 
header, 
nav, 
section {
    text-align: center;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    text-transform: uppercase; 
    font-size: 95px;
    letter-spacing: 1px;
    color: #ff0000;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 35px;
}

h1 span {
    display: inline-block;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    font-weight: 300;
}

h2,
h3 {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 25px;
    margin: 30px 0px;
    color: black;
    text-align: center;
    width: 80%;
    line-height: 1.15;
    padding: 10px;
    border-radius: 20px;
}

.result a {
    // font-family: 'Raleway', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    font-size: 24px;
    text-decoration: none;
    color: #000e8e;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 3px dotted #ff0000;
    transition: 0.3s;
}

.result a:hover {
    color: #ff0000;
    border: 3px dotted #000e8e;
}

body {
    background-image: url(../assets/gabriela-tamara-cycman-wDf1Qmd9UUs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.textBackground {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}

h3 {
    color: black;
    font-size: 30px;
    line-height: 45px;
    text-transform: none;
}

h3 span.final {
    color: #ff0000;
    font-size: 35px;
}









