fieldset,
article, 
aside, 
footer, 
header, 
nav, 
section {
    text-align: center;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 100vh;
    background-image: url(../assets/gabriela-tamara-cycman-wDf1Qmd9UUs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
}

h1 {
    text-transform: uppercase; 
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 110px;
    color: #fef9ff;
    text-align: center;
}

p {
    font-family: Montserrat;
    font-size: 26px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding-top: 35px;
    margin-top: 0px;
    color: #303030;
}

h2,
h3 {
    font-family: 'Old Standard TT', serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 25px;
    margin: 30px 0px;
    color: #303030;
    text-align: center;
    width: 80%;
    line-height: 1.15;
    padding: 10px;
}

.myForm > fieldset:nth-child(1) > h2:nth-child(1) {
    margin-top: 25px;
}

.result a {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    color:#303030;
    background-color: transparent;
    padding: 15px;
    margin-bottom: 45px;
    border: 1px solid #65734e;
    transition: 0.3s;
}

h3 {
    color: #303030;
    font-size: 30px;
    line-height: 45px;
    text-transform: none;
}

h3 span.final {
    font-size: 35px;
    font-weight: bold;
    color: #ca5d65;
}

main {
    background-color: #fef9ff;
}









