header {
    height: 100vh;
    background-image: url(../assets/gabriela-tamara-cycman-wDf1Qmd9UUs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
}

h1 {
    font-family: $largeFont;
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 130px;
    color: $lightFontColor;
    text-align: center;
    letter-spacing: 1.3px;
    width: 60%;
    margin-bottom: 50px;
    margin-top: 37px;
}

p {
    font-family: $mediumFont;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding-top: 35px;
    margin: 0px 10px 5px 10px;
    color: $darkFontColor;
}

h2 {
    font-size: 25px;
    line-height: 1.15;
}

h2,
h3 {
    font-family: $smallFont;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 30px 0px;
    color: $darkFontColor;
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 30px;
    line-height: 45px;
    text-transform: none;
}

h3 span.final {
    font-size: 35px;
    font-weight: bold;
    color: #c9464f;
}

.myForm > fieldset:nth-child(1) > h2:nth-child(1) {
    margin-top: 25px;
}

.result a {
    font-family: $mediumFont;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: $lightFontColor;
    background-color: #7fb069;
    padding: 15px;
    margin-bottom: 45px;
    border: 1px solid #678e55;
    transition: 0.3s;
}

main {
    background-color: $lightBackgroundColor;
}

.swal2-styled {
    margin: 0 !important;
}

.swal2-content {
    font-family: $mediumFont;
    text-transform: uppercase !important;
    font-size: 16px !important;
    line-height: 23px !important;
    letter-spacing: 1.3px !important;
}

.swal2-styled.swal2-confirm {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #678e55 !important;
    color: $lightFontColor !important;
}

.swal2-title {
    font-family: $largeFont !important;
    text-transform: uppercase !important;
    font-size: 28px !important;
}

.swal2-popup {
    background-color: $lightFontColor !important;
    width: 29rem !important;
    border-radius: 0 !important;
    border: 1px solid $darkBackgroundColor !important;
}
    









