header {
    height: 100vh;
    background-image: url(../assets/gabriela-tamara-cycman-wDf1Qmd9UUs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
    // The styling for the start link in the header. 
    a {
        background-color: $darkBackgroundColor;
        border: 1px solid transparent;
        font-size: 22px;
        // The styling for the hover and focus states for this link. 
        &:hover,
        &:focus {
            background-color: #c9464f;
            color: $lightFontColor;
        }
    }
}

h1 {
    font-family: $largeFont;
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 130px;
    color: $lightFontColor;
    letter-spacing: 1.3px;
    width: 60%;
    padding-bottom: 30px;
    margin: 0 auto;
}
