
@media(max-width: 1060px) {

    h1 {
        font-size: 110px;
        line-height: 110px;
        margin-bottom: 40px;
        width: 80%;
    }

    a {
        padding: 12px 17px;
        font-size: 19px;
    }

    p {
        font-size: 20px;
        line-height: 28px;
    }

    h2 {
        font-size: 22px;
    }

    .cuteButton label {
        font-size: 19px;
        padding: 12px 15px;
    }

    h3 {
        font-size: 24px;
    }

    h3 span.final {
        font-size: 30px;
    }

    .result a {
        font-size: 19px;
    }

    .submit,
    .reset {
        font-size: 21px;
        padding-bottom: 1px;
        padding-top: 3px;
    }

    .result > h3:nth-child(1) {
        margin-top: 0px;
    }
}

@media(max-width: 500px) {

    h1 {
        font-size: 85px;
        line-height: 85px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .cuteButton label {
        font-size: 16px;
        margin: 12px;
    }

    .submit,
    .reset {
        font-size: 19px;
        margin-top: 40px;
    }

    h3 {
        font-size: 22px;
    }

    span.final {
        font-size: 25px;
    }

    .result a,
    a {
        font-size: 16px;
    }

    .buttons {
        padding-bottom: 25px;
    }

    .submit {
        padding-top: 3px;
    }

    .reset {
        margin-bottom: 26px;
        padding-top: 3px;
    }
}

@media(max-width: 350px) {
    header {
        height: 90vh;
    }

    .cuteButton label {
        margin: 5px;
    }
}


