@media(max-width: 754px) {
    // .myForm > fieldset:nth-child(1) > div:nth-child(2),
    // .myForm > fieldset:nth-child(3) > div:nth-child(2) {
    //     display: flex;
    // }

    .cuteButton label, .submit, .reset {
        margin-right: 5px;
        margin-left: 5px;
    }

    .cuteButton label {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .result a,
    h1 {
        margin-right: 10px;
        margin-left: 10px;
    }

    .submit {
        width: auto;
    }

    .reset {
        width: 155px;
    }
}

