main {
    background-color: $lightBackgroundColor;
}

p {
    font-family: $mediumFont;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin: 55px auto 30px;
    color: $darkFontColor;
}

h2 {
    font-size: 25px;
    line-height: 1.15;
    padding: 10px;
}

h2,
h3 {
    font-family: $smallFont;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 30px 0px;
    color: $darkFontColor;
    text-align: center;
}

.cuteButton {
    margin: 20px 0;
    padding: 0px;
    // The styling for the labels. 
    label {
        letter-spacing: 1px;
        margin: 40px;
        background-color: $lightFontColor;
        color: $darkFontColor;
        border: 1px solid $darkBackgroundColor;
        font-family: $mediumFont;
        font-size: 22px;
        text-transform: uppercase;
        transition: 0.3s;
        font-weight: 400;
        padding: 15px 20px;
        // The styling for the labels on hover.
        &:hover {
            background-color: $darkBackgroundColor; 
            color: $lightFontColor;
        }   
    }
    // Using positioning, the radio buttons were placed to the far left of the screen in order to be hidden. This allowed me to style/use the labels as the buttons for the quiz instead of using the circular radio buttons.
    input[type="radio"] {
        opacity: 0.01;
        position: absolute;
        left: -1000px;
        // The styling for the labels of the radio buttons on focus and on checked. 
        &:focus+label,
        &:checked+label {
            background-color: $darkBackgroundColor;
            color: $lightFontColor;
        }
    }
}

.myForm > fieldset:nth-child(1) > h2:nth-child(1) {
    margin-top: 0;
}

.myForm > fieldset:nth-child(4) {
    padding-bottom: 55px;
}

// The styling for the horizontal line seperating the questions form from the submit and reset buttons at the bottom of the form. 
hr {
    border: 0;
    height: 0;
    border-top: 1px solid $lightFontColor;
    width: 100%;
    margin: 0;
}




















    









