.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.submit,
.reset {
    font-family: $mediumFont;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.3px;
    color: $darkFontColor;
    background-color: transparent;
    transition: 0.3s;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid transparent;
    margin-top: 55px;
    padding: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    &:hover,
    &:focus {
        border-bottom: 2px solid $darkFontColor;
    }
}   

.submit {
    margin-bottom: 0px;
}

.reset {
    margin-bottom: 55px;
}