$largeFont: 'Bebas Neue', cursive;
$mediumFont: 'Montserrat', sans-serif;
$smallFont: 'Old Standard TT', serif;
$lightFontColor: #f0f2ef;
$darkFontColor: #303030;
$lightBackgroundColor: #afd5aa;
$darkBackgroundColor: #ca5d65;